.gallery {
    display: flex;
    flex-wrap: wrap;
    margin-left: 20px;
  }
  
  .gallery img {
    flex: 1;
    margin: 5px;
    max-width: 100%;
   
  }
.linkbutton{
text-decoration: none;
margin-left: 20px;
} 

.header{
    margin-left: 20px;
}
